{
  "swagger": "2.0",
  "info": {
    "version": "1.0.5",
    "title": "OTData",
    "description": "OTData structure\n- The authentication is specified by the interface operator.\n- The customer is specified by the authentication.\n",
    "contact": {
      "name": "OpenTelematics e.V.",
      "email": "info@opentelematics.io"
    }
  },
  "host": "otdata.dummy.de",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/otdata/gethistory": {
      "get": {
        "tags": [
          "History data"
        ],
        "summary": "Returns list of data in specific time interval",
        "description": "If no deviceid exists, all vehicles will be returned\nIf no utcf exists, all data will be returned till the time utct\nIf no utct exists, all data will be returned from utcf till now\nif nothing exists, all data will be returned",
        "parameters": [
          {
            "name": "deviceid",
            "in": "query",
            "maxLength": 50,
            "type": "string",
            "description": "Unique ObjectID"
          },
          {
            "name": "cid",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Customer ID"
          },
          {
            "name": "gid",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Vehicle Group"
          },
          {
            "name": "utcf",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "description": "Start of time interval in UTC"
          },
          {
            "name": "utct",
            "in": "query",
            "type": "string",
            "format": "date-time",
            "description": "End of time interval in UTC"
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OTData"
              }
            }
          },
          "204": {
            "description": "The server successfully processed the request and is not returning any content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      }
    },
    "/otdata/getlive": {
      "get": {
        "tags": [
          "Get live data"
        ],
        "summary": "Returns current data",
        "description": "If no deviceid exists, the data of all vehicles will be returned\n",
        "parameters": [
          {
            "name": "deviceid",
            "in": "query",
            "maxLength": 50,
            "type": "string",
            "description": "Unique ObjectID"
          },
          {
            "name": "cid",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Customer ID"
          },
          {
            "name": "gid",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Vehicle Group"
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OTData"
              }
            }
          },
          "204": {
            "description": "The server successfully processed the request and is not returning any content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      }
    },
    "/otdata/setcallback": {
      "post": {
        "tags": [
          "Set callback url"
        ],
        "summary": "Sets callback URL and port for data receiving",
        "parameters": [
          {
            "name": "index",
            "in": "query",
            "type": "string",
            "description": "index to identify the callback"
          },
          {
            "name": "url",
            "in": "query",
            "type": "string",
            "description": "URL like https://dummy.de"
          },
          {
            "name": "types",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "livedata, orderstate, messages"
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      }
    },
    "/otdevice/getall": {
      "get": {
        "tags": [
          "Get all devices"
        ],
        "summary": "Returns all registered devices",
        "parameters": [
          {
            "in": "query",
            "name": "otid",
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          {
            "name": "cid",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Customer ID"
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OTDevice"
              }
            }
          },
          "204": {
            "description": "The server successfully processed the request and is not returning any content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      }
    },
    "/otdevice/ordershort": {
      "post": {
        "tags": [
          "Order short"
        ],
        "summary": "Transmits information for simple navigation orders",
        "description": "\nRequired parameters  - refid\n  - name\n  - carrefid\n  - drives\n    - refid\n    - latitude\n    - longitude\n    - name\n    \nDo not fill:\n  - status\n  - eta\n",
        "parameters": [
          {
            "in": "body",
            "name": "tour",
            "schema": {
              "$ref": "#/definitions/OTTour"
            }
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "The server successfully processed the request and is not returning any content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      },
      "get": {
        "tags": [
          "Order short"
        ],
        "summary": "Returns information for simple navigation orders",
        "parameters": [
          {
            "in": "query",
            "name": "otid",
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          {
            "in": "query",
            "name": "refid",
            "type": "string"
          },
          {
            "in": "query",
            "name": "carrefid",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tournumber",
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OTTour"
              }
            }
          },
          "204": {
            "description": "The server successfully processed the request and is not returning any content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      }
    },
    "/otmessage/message": {
      "post": {
        "tags": [
          "Message"
        ],
        "summary": "Sends message",
        "description": "Required parameters:\n  - refid\n  - carrefid\n  - message\n  \nDo not fill:\n  - direction\n  - status\n",
        "parameters": [
          {
            "in": "body",
            "name": "message",
            "schema": {
              "$ref": "#/definitions/OTMessage"
            }
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "204": {
            "description": "The server successfully processed the request and is not returning any content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      },
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Gets message",
        "parameters": [
          {
            "in": "query",
            "name": "refid",
            "type": "string"
          },
          {
            "in": "query",
            "name": "carrefid",
            "type": "string",
            "required": true
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OTMessage"
              }
            }
          },
          "204": {
            "description": "The server successfully processed the request and is not returning any content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      }
    },
    "/otdata/log": {
      "get": {
        "tags": [
          "Log"
        ],
        "summary": "Gets log",
        "description": "If a callback address is stored, logs will be sent",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "type": "integer",
            "description": "Version number of the protocol"
          },
          {
            "name": "otid",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Registered opentelematics number"
          },
          {
            "name": "loglevel",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "all logs lower than loglevel"
          },
          {
            "name": "call",
            "in": "query",
            "type": "string",
            "description": "which logfile.\nFor all logs, set free"
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OTlog"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      }
    },
    "/otstatus/setstatus": {
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "Sets status for ordershort or message", 
        "parameters": [
          {
            "name": "refid",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/OTSetStatus"
            }
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      }
    },
    "/otmember/getmember": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "Gets all members of OpenTelematics",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OTMember"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      }
    },
    "/otdata/tacho/vehicle": {
      "get": {
        "tags": [
          "Tacho (NEW)"
        ],
        "summary": "Gets all devices registered at tacho.",
        "parameters": [
          {
            "in": "query",
            "name": "otid",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "required": true
          },
          {
            "name": "cid",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Customer ID",
            "required": true
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OTDevice"
              }
            }
          },
          "204": {
            "description": "The server successfully processed the request and is not returning any content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      }
    },
    "/otdata/tacho/driver": {
      "get": {
        "tags": [
          "Tacho (NEW)"
        ],
        "summary": "Gets all registered drivers",
        "parameters": [
          {
            "in": "query",
            "name": "otid",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "required": true
          },
          {
            "name": "cid",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Customer ID",
            "required": true
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OTDriverCardArray"
              }
            }
          },
          "204": {
            "description": "The server successfully processed the request and is not returning any content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      }
    },
    "/otdata/tacho": {
      "get": {
        "tags": [
          "Tacho (NEW)"
        ],
        "summary": "Gets the matching DDD file.",
        "description": "1. Get the latest ones\n    - ALL: class = 3, rest leave blank\n    - Vehicles: class=2, rest leave blank\n    - Driver: class=1, rest leave blank\n2. Get all since date\n  - ALL: class = 3, date = value\n  - Vehicles: class=2, date = value\n  - Driver: class=1, date = value\n3. Specification\n  - add vin or driveridentnumber to get the matching ddd file, rest like step 1 or 2\n\nexample 1\n\n  - class: 3\n  - response: All actually DDD files\n  \nexample 2 \n  - class: 3\n  - date: 2019-05-21T17:32:28Z\n  - response: All ones which newer than 2019-05-21T17:32:28Z\n\nexample 3\n  - class: 2\n  - date: 2019-05-21T17:32:28Z\n  - identification: WVWZZZ1JZ3W386752 \n  - response: All ones which newer than 2019-05-21T17:32:28Z and matching the identification\n",
        "parameters": [
          {
            "name": "otid",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "in": "query",
            "required": true
          },
          {
            "name": "cid",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Customer ID",
            "required": true
          },
          {
            "name": "class",
            "in": "query",
            "type": "string",
            "enum": ["driver", "vehicle", "all"],
            "required": true
          },
          {
            "name": "identification",
            "type": "string",
            "in": "query",
            "description": "It is an optional field to get specific DDD files,\nDriver or vehicle\nidentification\n"
          },
          {
            "name": "from",
            "type": "string",
            "format": "date-time",
            "in": "query",
            "description": "Only data from this point in time will be returned"
          },
          {
            "name": "to",
            "type": "string",
            "format": "date-time",
            "in": "query",
            "description": "Only data up to this point in time will be returned"
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OTTransferContainerArray"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          }
        }
      },
      "post": {
        "tags": [
          "Tacho (NEW)"
        ],
        "summary": "Posts DDD file",
        "parameters": [
          {
            "name": "otid",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "in": "query",
            "required": true
          },
          {
            "name": "cid",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Customer ID",
            "required": true
          },
          {
            "name": "tacho",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/OTTransferContainerArray"
            }
          },
          {
            "name": "token",
            "in": "query",
            "type": "string",
            "description": "JSON Web Token"
          }
        ],
        "responses": {
          "202": {
            "description": "Container data was accepted"
          },
          "400": {
            "description": "Invalid parameter\nInvalid selector\n"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden, the user might not have the necessary permissions for a resource, or may need an account of some sort."
          },
          "503": {
            "description": "Authentication limit exceeded"
          }
        }
      }
    }
  },
  "definitions": {
    "OTDevice": {
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "description": "Versions number of the protocol",
          "example": 1
        },
        "otid": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "description": "Registered opentelematics number",
          "example": 3
        },
        "id": {
          "type": "string",
          "maxLength": 50,
          "description": "Unique objectID",
          "example": "1"
        },
        "refid": {
          "type": "string",
          "maxLength": 150,
          "description": "Reference Number",
          "example": "1"
        },
        "gid":{
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "description": "List of assigned vehicle groups"
        },
        "name": {
          "type": "string",
          "maxLength": 150,
          "description": "Name of vehicle",
          "example": "MH-MH 1"
        },
        "plate_number": {
          "type": "string",
          "maxLength": 150,
          "description": "Plate number of vehicle",
          "example": "MH-MH 1"
        },
        "manufacturer": {
          "type": "string",
          "maxLength": 150,
          "description": "Manufacturer",
          "example": "Mercedes-Benz"
        },
        "model": {
          "type": "string",
          "maxLength": 150,
          "description": "Model type",
          "example": "1844 LS"
        },
        "constructionyear": {
          "type": "integer",
          "format": "uint32",
          "description": "Building Year",
          "example": 2008
        },
        "vin": {
          "type": "string",
          "minLength": 17,
          "maxLength": 17,
          "pattern": "^[A-HJ-NPR-Z0-9]{13}[0-9]{4}$",
          "description": "Vehicle identification number",
          "example": "WDB9340321L333168"
        },
        "imei": {
          "type": "string",
          "minLength": 15,
          "maxLength": 15,
          "description": "IMEI",
          "example": ""
        },
        "sn": {
          "type": "string",
          "maxLength": 30,
          "description": "Serial number",
          "example": ""
        }
      },
      "required": [
        "otid"
      ]
    },
    "OTData": {
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Versions number of the protocol"
        },
        "otid": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "description": "Registered opentelematics number sender receiver"
        },
        "dataid": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "description": "Data ID"
        },
        "receiverid": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "description": "Receiver ID register opentelematics number from receiver"
        },
        "manid": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "description": "Mandanten id"
        },
        "reason": {
          "$ref": "#/definitions/OTReason"
        },
        "receivetime": {
          "type": "string",
          "format": "date-time",
          "description": "Date Time of message receive (optional)\n",
          "example": "2017-07-21T17:32:28Z"
        },
        "deviceid": {
          "type": "string",
          "maxLength": 50,
          "description": "Unique ObjectID"
        },
        "devicetime": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-21T17:32:28Z"
        },
        "io": {
          "$ref": "#/definitions/OTIOState"
        },
        "position": {
          "$ref": "#/definitions/OTPosition"
        },
        "driver": {
          "$ref": "#/definitions/OTDriver"
        },
        "assistant": {
          "$ref": "#/definitions/OTAssistant"
        },
        "temperature": {
          "$ref": "#/definitions/OTTemp"
        },
        "address": {
          "$ref": "#/definitions/OTAddress"
        },
        "can": {
          "$ref": "#/definitions/OTCanData"
        },
        "tachograph": {
          "$ref": "#/definitions/OTTacho"
        },
        "dtc": {
          "$ref": "#/definitions/OTDiag"
        },
        "driverbehavior": {
          "$ref": "#/definitions/OTDriverbehavior"
        }
      },
      "required": [
        "position",
        "otid",
        "devicetime",
        "deviceid",
        "receiverid"
      ]
    },
    "OTReason": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "description": "Reason number for the message (optional)"
        },
        "name": {
          "type": "string",
          "maxLength": 30,
          "description": "Reason for the message (optional)"
        }
      }
    },
    "OTIOState": {
      "type": "object",
      "properties": {
        "ignition": {
          "type": "boolean",
          "description": "State of ignition"
        },
        "battery": {
          "type": "boolean",
          "description": "State of external battery input"
        },
        "input": {
          "example": [
            1,
            2,
            "..."
          ],
          "type": "array",
          "items": {
            "type": "integer"
          },
          "description": "Input states (input1, input2, …)"
        },
        "output": {
          "example": [
            1,
            2,
            "..."
          ],
          "type": "array",
          "items": {
            "type": "integer"
          },
          "description": "Output states (input1, input2, …)"
        },
        "analog": {
          "example": [
            1.1,
            2.2,
            "..."
          ],
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "Analog values"
        },
        "voltage": {
          "type": "number",
          "format": "float",
          "description": "Battery input voltage"
        },
        "backupbattery": {
          "type": "number",
          "format": "float",
          "description": "Backup battery input voltage"
        }
      }
    },
    "OTPosition": {
      "properties": {
        "datetime": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-21T17:32:28Z"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "WGS84 latitude"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "WGS84 longitude"
        },
        "heading": {
          "type": "integer",
          "format": "int32",
          "description": "Direction in degrees (0-360)"
        },
        "speed": {
          "type": "number",
          "format": "float",
          "description": "Speed in km/h"
        },
        "altitude": {
          "type": "integer",
          "format": "int32",
          "description": "Altitude in meter"
        },
        "accuracy": {
          "type": "integer",
          "format": "float",
          "description": "accuracy in meter"
        },
        "characteristic": {
          "type": "integer",
          "description": "0=GPS tracking, 1=GSM tracking, 2=Indirekte tracking, etc."
        }
      },
      "required": [
        "datetime",
        "latitude",
        "longitude"
      ]
    },
    "OTDriver": {
      "type": "object",
      "properties": {
        "cardid": {
          "example": [
            "card1id",
            "card2id",
            "..."
          ],
          "type": "array",
          "items": {
            "type": "string",
            "maxLength": 24
          },
          "description": "Driver card id"
        },
        "name": {
          "example": [
            "drivername1",
            "drivername2",
            "..."
          ],
          "type": "array",
          "items": {
            "type": "string",
            "maxLength": 150
          },
          "description": "Driver name"
        }
      }
    },
    "OTAssistant": {
      "type": "object",
      "properties": {
        "id": {
          "example": [
            123,
            456,
            "..."
          ],
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Assistant id"
        },
        "name": {
          "example": [
            "assistantname1",
            "assistantname2",
            "..."
          ],
          "type": "array",
          "items": {
            "type": "string",
            "maxLength": 150
          },
          "description": "Assistant name"
        }
      }
    },
    "OTTemp": {
      "type": "object",
      "properties": {
        "setpoint": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 150
              },
              "value": {
                "type": "number",
                "format": "float",
                "description": "in °C"
              }
            }
          }
        },
        "temperature": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 150
              },
              "value": {
                "type": "number",
                "format": "float",
                "description": "in °C"
              },
              "alert": {
                "type": "boolean",
                "description": "alert condition set"
              }
            }
          }
        },
        "contacts": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 150
              },
              "value": {
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "OTAddress": {
      "type": "object",
      "properties": {
        "street": {
          "type": "string"
        },
        "streetnumber": {
          "type": "string"
        },
        "province": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "zipcode": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "countrycode": {
          "type": "string",
          "minLength": 3,
          "maxLength": 3,
          "pattern": "^[A-Z]{3}$",
          "description": "ISO-3166 ALPHA-3"
        },
        "customerid": {
          "type": "integer",
          "format": "int32"
        },
        "customername": {
          "type": "string",
          "maxLength": 30
        },
        "contactperson": {
          "type": "string",
          "maxLength": 30
        },
        "contactphone": {
          "type": "string",
          "maxLength": 30
        },
        "contactfax": {
          "type": "string",
          "maxLength": 30
        },
        "contactmobile": {
          "type": "string",
          "maxLength": 30
        },
        "contactemail": {
          "type": "string",
          "maxLength": 50
        },
        "poinname": {
          "type": "string",
          "maxLength": 30
        },
        "poigroup": {
          "type": "string",
          "maxLength": 30
        }
      }
    },
    "OTCanData": {
      "type": "object",
      "properties": {
        "caninstant": {
          "type": "object",
          "properties": {
            "speed": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "number",
                  "format": "float",
                  "default": 0.0,
                  "description": "Speed in km/h"   
                }
              }
            },
            "rpm": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "number",
                  "format": "float",
                  "default": 0.0,
                  "description": "Rotational speed of engine in rpm"   
                }
              }
            },
            "fuelconsmpt": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "number",
                  "format": "float",
                  "default": 0.0,
                  "minimum": 0.0,
                  "description": "Fuel consumption in l/h"   
                }
              }
            },
            "fuellevel": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0,
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Fuel level primary, secondary, ... tank in %"
                  }
                }
              }
            },
            "axelweight": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0,
                    "minimum": 0
                  },
                  "description": "Axel 1,2,... Weight in kg"
                }
              }
            },
            "turbopressure": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Turbo pressure in kPa"
                }
              }
            },
            "coolanttemp": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "description": "Coolant temperature in °C"
                }
              }
            },
            "acceleratorpdl": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Accelerator pedal in %"
                }
              }              
            },
            "torque": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "maximum": 250,
                  "description": "Torque in %"
                }
              }   
            },
            "battvolt": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "number",
                  "format": "float",
                  "default": 0.0,
                  "description": "Battery voltage in V"
                }
              }
            },
            "coolantlvl": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Coolant level in %"
                }
              }
            },
            "oiltemp": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "description": "Oil temperature in °C"
                }
              }
            },
            "oillvl": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Oil level in %"
                }
              }
            },
            "throttle": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Throttle position in %"
                }
              }
            },
            "airinltpres": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Air inlet pressure in kPa"
                }
              }
            },
            "gear": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "string",
                  "enum": ["neutral", "reverse", "forward", "parked"]
                }
              }
            },
            "seatbelt": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "string",
                  "enum": ["off", "on"],
                  "default": "off"
                }
              }
            },
            "oilpressure": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Engine oil pressure in kPa"
                }
              }
            },
            "wettankpressure": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Wet tank air pressure in kPa"
                }
              }
            },
            "pto": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "string",
                  "enum": ["none", "any"],
                  "default": "none"
                }
              }
            },
            "ignswtch": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "string",
                  "enum": ["off", "on"],
                  "default": "off"
                }
              }
            }
          }
        },
        "cantotal": {
          "type": "object",
          "properties": {
            "mileage": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Mileage in km"
                }
              }
            },
            "totalfuel": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Total fuel in liter"
                }
              }
            },
            "fuelusedatcruise": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Fuel used at cruise in liter"
                }
              }              
            },
            "fuelusedatdrive": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Fuel used at drive in liter"
                }
              }              
            },
            "idlelonger5": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Number of idle longer than 5 min"
                }
              }              
            },
            "idlelonger10": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Number of idle longer than 10 min"
                }
              }              
            },
            "totalidletime": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Total idle time in sec"
                }
              }              
            },
            "totaltimepto": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Total pto time in sec"
                }
              }              
            },
            "timecruise": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Cruise time in sec."
                }
              }              
            },
            "rpmthreshold": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0,
                    "minimum": 0
                  },
                  "description": "Rpm > treshold 1,2,3 sec."
                }
              }
            },
            "speedthreshold": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0,
                    "minimum": 0
                  },
                  "description": "Speed > threshold speed 1,2,3 sec."
                }
              }
            },
            "brakeapplications": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Number of brake applications"                }
              }              
            },
            "clutchapplications": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Number of clutch applications"                }
              }              
            },
            "engineon": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Time engine is on in sec"
                }
              }              
            },
            "timetorque90": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description":"Time torque > 90%  in sec"
                }
              }              
            },
            "fuelrateavg": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Fuel rate average in l/h"                }
              }
            },
            "totaldistancecruisecontrol": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Total vehicle distance with cruise control"
                }
              }
            },
            "totalfuelconsumptionwithpto": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string", 
                  "enum": ["ok", "error", "n/a"],
                  "description": "Indicates availability of data"
                  },
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Total fuel consumption with pto"                }
              }              
            }
          }
        }
      }
    },
    "OTTacho": {
      "type": "object",
      "properties": {
        "driverstatus": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": ["rest", "available", "work", "drive", "error", "n/a"]
          },
          "description": "Driver 1,2 work state"
        },
        "driverrecognize": {
          "type": "boolean",
          "description": "Driver recognize 1=yes/0=no"
        },
        "drivertime": {
          "type": "array",
          "items": {
            "type": "integer",
            "description": "0=normal / 1=15 min. bef. 4 1/2h / 2=4 1/2h reached / 3=15 min bef. 9h / 4=9h reached / 5=15min bef. 16h / 6=16h reached / 14=Error / 15=n/a"
          },
          "description": "Driver 1,2 work state"
        },
        "cardpresent": {
          "type": "array",
          "items": {
            "type": "boolean"
          },
          "description": "Driver 1,2 Card present"
        },
        "cardid": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "Cardid"
          },
          "description": "Driver 1,2 Card ID"
        },
        "overspeed": {
          "type": "boolean"
        },
        "tachoevent": {
          "type": "boolean"
        },
        "direction": {
          "type": "string",
          "enum": ["forward", "reverse"]
        },
        "rpm": {
          "type": "integer",
          "format": "float",
          "description": "Output shaft speed  rpm"
        },
        "speed": {
          "type": "integer",
          "format": "float",
          "description": "TCO vehicle speed  km/h"
        }
      }
    },
    "OTDiag": {
      "type": "object",
      "properties": {
        "dtcstatus": {
          "type": "string",
          "enum": ["off", "on", "n/a"],
          "description": "Generic malfunction indicator light"
        },
        "dtcred": {
          "type": "string",
          "enum": ["off", "on", "error", "n/a"],
          "description": "Red malfunction indicator light"
        },
        "dtcamber": {
          "type": "string",
          "enum": ["off", "on", "error", "n/a"],
          "description": "Amber malfunction indicator light"
        },
        "dtcprotect": {
          
          "type": "string",
          "enum": ["off", "on", "error", "n/a"],
          "description": "Protection malfunction indicator light"
        },
        "handbreak": {
          "type": "string",
          "enum": ["off", "on", "error", "n/a"],
          "description": "Handbrake malfunction indicator light"
        },
        "batterystatus": {
          "type": "boolean",
          "description": "0=no failure/1=failure"
        },
        "coolantstatus": {
          "type": "boolean",
          "description": "0=no failure/1=failure"
        },
        "oilpressure": {
          "type": "boolean",
          "description": "0=no failure/1=failure"
        },
        "breakpads": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OTBreakpad"
          }
        },
        "oillevelstatus": {
          "type": "boolean",
          "description": "0=no failure/1=failure"
        },
        "absstatus": {
          "type": "integer",
          "description": "0=not fully operational/1=fully operational/2=reserved/3=n/a"
        }
      }
    },
    "OTDriverbehavior": {
      "type": "object",
      "properties": {
        "harshbreak": {
          "type": "integer",
          "format": "int64",
          "description": "Total harsh brakes times"
        },
        "harshacc": {
          "type": "integer",
          "format": "int64",
          "description": "Total harsh accelerations times"
        },
        "idletime": {
          "type": "integer",
          "format": "int64",
          "description": "Total idle time sec."
        },
        "coastingtime": {
          "type": "integer",
          "format": "int64",
          "description": "Total coasting time sec."
        },
        "coastingdistance": {
          "type": "integer",
          "format": "float",
          "description": "Total coasting distance km"
        },
        "accelerationtime": {
          "type": "integer",
          "format": "int64",
          "description": "Total acceleration time sec."
        },
        "accelerationdistance": {
          "type": "integer",
          "format": "float",
          "description": "Total acceleration distance km"
        },
        "decelerationtime": {
          "type": "integer",
          "format": "int64",
          "description": "Total deceleration time sec."
        },
        "decelerationdistance": {
          "type": "integer",
          "format": "float",
          "description": "Total deceleration distance km"
        },
        "overspeedtime": {
          "type": "integer",
          "format": "int64",
          "description": "Total overspeed time sec."
        },
        "overspeeddistance": {
          "type": "integer",
          "format": "float",
          "description": "Total overspeed distance km"
        },
        "rpmtime": {
          "type": "integer",
          "format": "int64",
          "description": "Total over RPM time sec."
        },
        "rpmdistance": {
          "type": "integer",
          "format": "float",
          "description": "Total over RPM distance km"
        },
        "cruisabletime": {
          "type": "integer",
          "format": "int64",
          "description": "Total cruisable time sec."
        },
        "cruisabledistance": {
          "type": "integer",
          "format": "float",
          "description": "Total cruisable distance km"
        },
        "cruisetime": {
          "type": "integer",
          "format": "int64",
          "description": "Total cruise time sec."
        },
        "cruisedistance": {
          "type": "integer",
          "format": "float",
          "description": "Total cruise distance in km"
        },
        "cruisetime2": {
          "type": "integer",
          "format": "int64",
          "description": "Total cruise time w/o acceleration pedal in sec."
        },
        "cruisedistance2": {
          "type": "integer",
          "format": "float",
          "description": "Total cruise distance w/o acceleration pedal in km"
        }
      }
    },
    "OTBreakpad": {
      "type": "object",
      "properties": {
        "axel": {
          "type": "integer",
          "description": "axle number front to back beginning with 0"
        },
        "wheel": {
          "type": "string",
          "enum": ["left", "right"]
        },
        "status": {
          "type": "string",
          "enum": ["ok", "maladjusted", "delayedReturn", "delayedBreaking", "outworn", "reserved", "error", "n/a"]
        }
      }
    },
    "OTTour": {
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Version number of the protocol"
        },
        "id": {
          "type": "integer"
        },
        "otid": {
          "type": "integer",
          "format": "int64",
          "description": "Registered opentelematics number sender receiver"
        },
        "receiverid": {
          "type": "integer",
          "format": "int64",
          "description": "Receicer ID register opentelematics number from receiver"
        },
        "manid": {
          "type": "integer",
          "format": "int64",
          "description": "Mandanten id"
        },
        "refid": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "info": {
          "type": "string"
        },
        "tournumber": {
          "type": "string"
        },
        "carid": {
          "type": "integer"
        },
        "carrefid": {
          "type": "string"
        },
        "status": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OTStatus"
          }
        },
        "drives": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OTDrive"
          }
        }
      },
      "required": [
        "refid",
        "name",
        "carrefid"
      ]
    },
    "OTDrive": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "refid": {
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/OTAddress"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "WGS84 latitude"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "WGS84 longitude"
        },
        "info": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "deadline": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-22T17:32:28Z"
        },
        "loading": {
          "type": "integer",
          "description": "'1=loading, 0=not loading'\n"
        },
        "drivenumber": {
          "type": "string"
        },
        "status": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OTStatus"
          }
        },
        "eta": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-22T17:32:28Z",
          "description": "Estimated time of arrival"
        }
      },
      "required": [
        "refid",
        "latitude",
        "longitude",
        "name"
      ]
    },
    "OTStatusMessage": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": ["serverReceived", "deviceReceived", "read", "delete"]
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-22T17:32:28Z"
        }
      }
    },
    "OTStatus": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": ["active", "canceled", "deleted", "finished", "workingOn", "read", "arrived"]
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-22T17:32:28Z"
        }
      }
    },
    "OTMessage": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "refid": {
          "type": "string",
          "maxLength": 150,
          "description": "Reference Number"
        },
        "carid": {
          "type": "string"
        },
        "carrefid": {
          "type": "string",
          "maxLength": 150,
          "description": "Reference Number"
        },
        "userid": {
          "type": "string",
          "maxLength": 150,
          "description": "Unique user id"
        },
        "username": {
          "type": "string",
          "maxLength": 150
        },
        "direction": {
          "type": "string",
          "enum": ["serverToDevice", "deviceToServer"]
        },
        "message": {
          "type": "string",
          "description": "context"
        },
        "status": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OTStatusMessage"
          }
        }
      },
      "required": [
        "refid",
        "carrefid",
        "message"
      ]
    },
    "OTSetStatus": {
      "type": "object",
      "properties": {
        "otid": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "description": "Registered opentelematics number"
        },
        "version": {
          "type": "integer",
          "description": "Protokoll version"
        },
        "type": {
          "type": "string",
          "maxLength": 150,
          "description": "orderstate or message"
        },
        "refid": {
          "type": "string",
          "maxLength": 150,
          "description": "Reference Number"
        },
        "carrefid": {
          "type": "string",
          "maxLength": 150,
          "description": "Reference Number"
        },
        "status": {
          "$ref": "#/definitions/OTStatusMessage"
        }
      },
      "required": [
        "refid",
        "carrefid",
        "type",
        "status"
      ]
    },
    "OTlog": {
      "type": "object",
      "properties": {
        "otid": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "description": "Registered opentelematics number"
        },
        "version": {
          "type": "integer",
          "description": "Protokoll version"
        },
        "loglevel": {
          "type": "integer"
        },
        "call": {
          "type": "string",
          "description": "Which call (protokoll)"
        },
        "username": {
          "type": "string",
          "description": "Which useraccount was it"
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "Date Time of message receive (optional)\n",
          "example": "2017-07-21T17:32:28Z"
        },
        "message": {
          "type": "string",
          "description": "Logmessage"
        }
      }
    },
    "OTMember": {
      "type": "object",
      "properties": {
        "otid": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "description": "Registered opentelematics number"
        },
        "version": {
          "type": "integer",
          "description": "Protokoll version"
        },
        "name": {
          "type": "string"
        },
        "company": {
          "type": "string"
        },
        "street": {
          "type": "string"
        },
        "postalcode": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Example: NRW, BW, RP\n"
        },
        "country": {
          "type": "string",
          "minLength": 3,
          "maxLength": 3,
          "pattern": "",
          "description": "ISO 3166-1 alpha-3"
        },
        "phonenumber": {
          "type": "string",
          "description": "phone number ( NEW )"
        },
        "email": {
          "type": "string",
          "description": "email ( NEW )"
        },
        "memberSince": {
          "type": "string",
          "format": "date-time",
          "description": "Date Time of message receive (optional)\n",
          "example": "2017-07-21T17:32:28Z"
        }
      }
    },
    "OTTransferContainerArray": {
      "type": "array",
      "items": {
        "type": "object",
        "$ref": "#/definitions/OTTransferContainer"
      }
    },
    "OTTransferContainer": {
      "type": "object",
      "properties": {
        "filename": {
          "type": "string",
          "description": "Filename",
          "example": "123456789.DDD"
        },
        "class": {
          "type": "string",
          "enum": ["driver", "vehicle", "all"],
          "example": "driver"
        },
        "used_company_card": {
          "type": "string",
          "description": "the company card which was used",
          "example": "DU000000000000"
        },
        "type": {
          "type": "string",
          "enum": ["ddd", "dlc", "tgd", "c1b_v1b"],
          "example": 0
        },
        "data": {
          "type": "string",
          "description": "container data bytes encoded in Base64",
          "example": "5MCMfOGVgyZPnyxamDRjA0EAwX1BBPOQA..."
        }
      }
    },
    "OTDriverCardArray": {
      "type": "array",
      "items": {
        "type": "object",
        "$ref": "#/definitions/OTDriverCard"
      }
    },
    "OTDriverCard": {
      "type": "object",
      "properties": {
        "surname": {
          "type": "string",
          "example": "Mustermann"
        },
        "first_given_name": {
          "type": "string",
          "example": "Max"
        },
        "issue_date": {
          "type": "object",
          "properties": {
            "valid_from": {
              "type": "string",
              "format": "date",
              "example": "01.12.2006"
            },
            "valid_to": {
              "type": "string",
              "format": "date",
              "example": "30.11.2011"
            }
          }
        },
        "name_of_the_issuing_authority": {
          "type": "string"
        },
        "driver_license_number": {
          "type": "string",
          "example": "A1234567890"
        },
        "card_number": {
          "type": "string",
          "example": "DF00003563691000"
        }
      }
    }
  }
}