{
  "swagger": "2.0",
  "info": {
    "version": "1.1.1",
    "title": "OTData",
    "description": "The software-independent standard interface for the transmission of telematics data.\n- The authentication is specified by the interface operator\n- It is recommended to use OAuth 2.0",
    "contact": {
      "name": "OpenTelematics e.V.",
      "email": "info@opentelematics.io"
    }
  },
  "externalDocs": {
    "description": "Additional Documentation",
    "url": "https://opentelematics.gitlab.io/otdata/docs/"
  },
  "host": "otdata.dummy.de",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/otdata/history": {
      "get": {
        "tags": [
          "Live Data"
        ],
        "summary": "Returns a list of data that matches the specified time interval and ID",
        "description": "If no ID is specified, data is returned for all vehicles.\nIf `from` and `to` do not exist, the complete history is returned.",
        "parameters": [
          {
            "$ref": "#/parameters/didParam"
          },
          {
            "$ref": "#/parameters/cidParam"
          },
          {
            "$ref": "#/parameters/gidParam"
          },
          {
            "$ref": "#/parameters/fromParam"
          },
          {
            "$ref": "#/parameters/toParam"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {"$ref": "#/definitions/OTResponseMeta"},
                {"type": "object", 
                  "properties": {
                    "data" :{
                      "type": "array", 
                      "items": {
                        "$ref": "#/definitions/OTData"
                      }
                    }
                  }
                }   
              ]
            }
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/otdata/getlive": {
      "get": {
        "tags": [
          "Live Data"
        ],
        "summary": "Returns a list of the current data of all vehicles or vehicles that match the specified ID ",
        "description": "If no ID is specified, data is returned for all vehicles.",
        "parameters": [
          {
            "$ref": "#/parameters/didParam"
          },
          {
            "$ref": "#/parameters/cidParam"
          },
          {
            "$ref": "#/parameters/gidParam"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {"$ref": "#/definitions/OTResponseMeta"},
                {"type": "object", 
                  "properties": {
                    "data" :{
                      "type": "array", 
                      "items": {
                        "$ref": "#/definitions/OTData"
                      }
                    }
                  }
                }   
              ]
            }
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/otdata/tacho": {
      "get": {
        "tags": [
          "Tacho"
        ],
        "summary": "Returns a list of all matching DDD files of the specified customer",
        "description": "If no `did` or `gid` is specified, data is returned for all devices.\nIf `from` and `to` do not exist, all DDD files are returned.\nIf `timeused` is set to `activity`, all DDD files needed to cover the given time intervall are returned.",
        "parameters": [
          {
            "$ref": "#/parameters/cidParamRequired"
          },
          {
            "name": "class",
            "in": "query",
            "type": "string",
            "enum": ["driver", "vehicle", "all"],
            "required": true
          },
          {
            "$ref": "#/parameters/didParam"
          },
          {
            "$ref": "#/parameters/gidParam"
          },
          {
            "$ref": "#/parameters/fromParam"
          },
          {
            "$ref": "#/parameters/toParam"
          },
          {
            "name": "timeused",
            "in": "query",
            "type": "string", 
            "enum": ["activity", "download", "data"],
            "default": "activity",
            "description": "Indicates to which time tags `from` and `to` refer:\n`\"activity\"` refers to the time the activities were stored in the DDD Files\n`\"download\"` refers to the download time of the DDD file\n`\"data\"` refers to the time stemp of the DDD files"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {"$ref": "#/definitions/OTResponseMeta"},
                {"type": "object", 
                  "properties": {
                    "data" :{
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/OTTransferContainer"
                      }
                    }
                  }
                }   
              ]
            }
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Tacho"
        ],
        "summary": "Transmits a list of DDD files",
        "parameters": [
          {
            "$ref": "#/parameters/cidParamRequired"
          },
          {
            "in": "body",
            "name": "tacho",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OTTransferContainer"
              }
            }  
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/NoContent"
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/otdevice/ordershort": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Transmits information for simple navigation orders",
        "parameters": [
          {
            "in": "body",
            "name": "tour",
            "schema": {
              "$ref": "#/definitions/OTTourParam"
            }
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/NoContent"
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Returns a list of information for simple navigation orders that match the specified ID or tournumber",
        "parameters": [
          {
            "$ref": "#/parameters/refidParam"
          },
          {
            "$ref": "#/parameters/refdidParam"
          },
          {
            "in": "query",
            "name": "tournumber",
            "type": "string"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {"$ref": "#/definitions/OTResponseMeta"},
                {"type": "object", 
                  "properties": {
                    "data" :{
                      "type": "array", 
                      "items": {
                        "$ref": "#/definitions/OTTour"
                      }
                    }
                  }
                }   
              ] 
            }
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/otdevice/getall": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Returns a list of all registered devices of the specified customer",
        "parameters": [
          {
            "$ref": "#/parameters/cidParamRequired"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {"$ref": "#/definitions/OTResponseMeta"},
                {"type": "object", 
                  "properties": {
                    "data" :{
                      "type": "array", 
                      "items": {
                        "$ref": "#/definitions/OTDevice"                      }
                    }
                  }
                }   
              ] 
            }
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/otdata/setcallback": {
      "post": {
        "tags": [
          "Callback URL"
        ],
        "summary": "Sets callback URL for data receiving",
        "parameters": [
          {
            "name": "index",
            "in": "query",
            "type": "string",
            "description": "Index to identify the callback"
          },
          {
            "name": "url",
            "in": "query",
            "type": "string",
            "description": "URL like https://dummy.de"
          },
          {
            "name": "types",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["liveData", "orderState", "messages", "all"]
            },
            "description": "Specifies the type of data to which the callback URL belongs"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/NoContent"
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/otmessage/message": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Sends a message",
        "parameters": [
          {
            "in": "body",
            "name": "message",
            "required": true,
            "description": "Since there can be only one body parameter, it contains all data that is transferred in the body and thus also the token. The parameter name is for documentation purposes only.",
            "schema": {
              "$ref": "#/definitions/OTMessageBase"
            }
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/NoContent"
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Returns a list of messages of a specific vehicle",
        "parameters": [
          {
            "$ref": "#/parameters/refidParam"
          },
          {
            "$ref": "#/parameters/refdidParam"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {"$ref": "#/definitions/OTResponseMeta"},
                {"type": "object", 
                  "properties": {
                    "data" :{
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/OTMessage"
                      }
                    }
                  }
                }   
              ] 
            }
          },
          "204": {
            "$ref": "#/responses/NoContent"
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/otdata/log": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Returns a list of logs that matches the specified time intervall",
        "description": "If `from` and `to` do not exist, all logs are returned.\nAll logs up to `loglevel` are returned.",
        "parameters": [
          {
            "name": "loglevel",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "minimum": 0, 
            "maximum": 7,
            "description": "From 0 (most important) to 7 (least important):\n0=Emergency, 1=Alert, 2=Critical, 3=Error, 4=Warning, 5=Notice, 6=Informational, 7=Debug"
          },
          {
            "$ref": "#/parameters/fromParam" 
          },
          {
            "$ref": "#/parameters/toParam" 
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {"$ref": "#/definitions/OTResponseMeta"},
                {"type": "object", 
                  "properties": {
                    "data" :{
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/OTLog"
                      }
                    }
                  }
                }   
              ]
            }
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/otstatus/setMessageStatus": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Sets status for a specific message", 
        "parameters": [
          {
            "in": "body",
            "name": "status",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OTSetStatus"
            }
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/NoContent"
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/otstatus/setOrderStatus": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Sets status for a specific order", 
        "parameters": [
          {
            "in": "body",
            "name": "status",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OTSetOrderStatus"
            }
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/NoContent"
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/otmember/member": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Returns a list of all members of OpenTelematics e.V.",
        "parameters": [
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {"$ref": "#/definitions/OTResponseMeta"},
                {"type": "object", 
                  "properties": {
                    "data" :{
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/OTMember"
                      }
                    }
                  }
                }   
              ]
            }
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "Adds or updates new members",
        "description": "If a member already exists, it is not added, but updated.",
        "parameters": [
          {
            "in": "body",
            "name": "members",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OTMember"
              }
            }
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "204":{
            "$ref": "#/responses/NoContent"
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Members"
        ],
        "summary": "Deletes the specified member",
        "parameters": [
          {
            "in": "query",
            "name": "member",
            "description": "OpenTelematics ID of member to be deleted",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "204":{
            "$ref": "#/responses/NoContent"
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/otdata/tacho/vehicle": {
      "get": {
        "tags": [
          "Tacho"
        ],
        "summary": "Returns a list of all registered vehicles of the specified customer",
        "parameters": [
          {
            "$ref": "#/parameters/cidParamRequired"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {"$ref": "#/definitions/OTResponseMeta"},
                {"type": "object", 
                  "properties": {
                    "data" :{
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/OTDevice"
                      }
                    }
                  }
                }   
              ]
            }
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/otdata/tacho/driver": {
      "get": {
        "tags": [
          "Tacho"
        ],
        "summary": "Returns a list of all registered drivers of the specified customer",
        "parameters": [
          {
            "$ref": "#/parameters/cidParamRequired"
          },
          {
            "$ref": "#/parameters/otidParam"
          },
          {
            "$ref": "#/parameters/tokenParam"
          },
          {
            "$ref": "#/parameters/versionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {"$ref": "#/definitions/OTResponseMeta"},
                {"type": "object", 
                  "properties": {
                    "data" :{
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/OTDriverCard"
                      }
                    }
                  }
                }   
              ]
            }
          },
          "400":{
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403":{
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500":{
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    }
  },
  "parameters": {
    "tokenParam": {
      "name": "x-access-token",
      "in": "header",
      "type": "string",
      "description": "JSON Web Token"
    },
    "versionParam": {
      "in": "query",
      "name": "version",
      "type": "string",
      "pattern": "^[1-9][0-9]*\\.(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)$",
      "description": "Version of the OpenTelematics API used, e.g.:`\"1.1.0\"`"
    },
    "fromParam": {
      "name": "from",
      "type": "string",
      "format": "date-time",
      "in": "query",
      "description": "Only data from this point on are returned"
    },
    "toParam": {
      "name": "to",
      "type": "string",
      "format": "date-time",
      "in": "query",
      "description": "Only data up to this point in time are returned"
    },
    "otidParam": {
      "in": "query",
      "name": "otid",
      "type": "string",
      "required": true,
      "description": "Registered OpenTelematics ID of the requester"
    },
    "cidParam": {
      "name": "cid",
      "in": "query",
      "type": "string",
      "description": "Customer ID"
    },
    "cidParamRequired": {
      "name": "cid",
      "in": "query",
      "type": "string",
      "description": "Customer ID",
      "required": true
    },
    "gidParam": {
      "name": "gid",
      "in": "query",
      "type": "string",
      "description": "Vehicle Group ID"
    },
    "didParam": {
      "name": "did",
      "in": "query",
      "type": "string",
      "description": "Device ID"
    },
    "refdidParam": {
      "name": "refdid",
      "in": "query",
      "type": "string",
      "description": "Reference Device ID"
    },
    "refidParam": {
      "name": "refid",
      "in": "query",
      "type": "string",
      "description": "Reference ID"
    }
  },
  "responses": {
    "NoContent": {
      "description": "No Content. The server has successfully fulfilled the request and there is no additional content to return in the response payload body"
    },
    "BadRequest": {
      "description": "Bad Request. The server cannot or will not process the request, due to a client error.",
      "schema":  {
        "allOf": [
          {"$ref": "#/definitions/OTResponseMeta"},
          {"$ref": "#/definitions/OTError"}
        ]
      }
    },
    "Unauthorized": {
      "description": "Unauthorized. The request requires user authentication.",
      "schema":  {
        "allOf": [
          {"$ref": "#/definitions/OTResponseMeta"},
          {"$ref": "#/definitions/OTError"}
        ]      
      }
    },
    "Forbidden": {
      "description": "Forbidden. The server understood the request, but refuses to authorize it.",
      "schema":  {
        "allOf": [
          {"$ref": "#/definitions/OTResponseMeta"},
          {"$ref": "#/definitions/OTError"}
        ]      
      }
    },
    "NotFound": {
      "description": "Not Found. The server has not found anything matching the effective request URI.",
      "schema":  {
        "allOf": [
          {"$ref": "#/definitions/OTResponseMeta"},
          {"$ref": "#/definitions/OTError"}
        ]      
      }
    },
    "InternalServerError":{
      "description": "Internal Server Error. The server encountered an unexpected condition which prevented it from fulfilling the request.",
      "schema":  {
        "allOf": [
          {"$ref": "#/definitions/OTResponseMeta"},
          {"$ref": "#/definitions/OTError"}
        ]      
      }
    }
  },
  "definitions": {
    "OTResponseMeta": {
      "type": "object", 
      "properties": {
        "version": {
          "type": "string",
          "pattern": "^[1-9][0-9]*\\.(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)$",
          "description": "Version of the OpenTelematics API used, e.g.:`\"1.1.0\"`"
        }, 
        "otid": {
          "allOf": [{"$ref": "#/definitions/OTIDType"}],
          "description": "Registered OpenTelematics ID of the responder"
        }
      },
      "required": ["otid"]
    },
    "OTError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Further explanation of error or cause"
        },
        "code":{
          "type": "string",
          "description": "Custom error code"
        }
      }
    },
    "OTDevice": {
      "type": "object",
      "properties": {
        "did": {
          "allOf": [{"$ref": "#/definitions/did"}]
        },
        "refid": {
          "allOf": [{"$ref": "#/definitions/refid"}]
        },
        "gid":{
          "type": "array",
          "items": {
            "allOf": [{"$ref": "#/definitions/gid"}]          
          },
          "description": "List of assigned vehicle groups"
        },
        "name": {
          "type": "string",
          "maxLength": 150,
          "description": "Name of vehicle",
          "example": "MH-MH 1"
        },
        "plate_number": {
          "type": "string",
          "maxLength": 150,
          "description": "Plate number of vehicle",
          "example": "MH-MH 1"
        },
        "manufacturer": {
          "type": "string",
          "maxLength": 150,
          "description": "Manufacturer",
          "example": "Mercedes-Benz"
        },
        "model": {
          "type": "string",
          "maxLength": 150,
          "description": "Model type",
          "example": "1844 LS"
        },
        "constructionyear": {
          "type": "integer",
          "format": "uint32",
          "description": "Building Year",
          "example": 2008
        },
        "vin": {
          "type": "string",
          "minLength": 17,
          "maxLength": 17,
          "pattern": "^[A-HJ-NPR-Z0-9]{13}[0-9]{4}$",
          "description": "Vehicle identification number",
          "example": "WDB9340321L333168"
        },
        "imei": {
          "type": "string",
          "minLength": 15,
          "maxLength": 15,
          "description": "IMEI",
          "example": ""
        },
        "sn": {
          "type": "string",
          "maxLength": 30,
          "description": "Serial number",
          "example": ""
        }
      }
    },
    "OTData": {
      "type": "object",
      "properties": {
        "dataid": {
          "allOf": [{"$ref": "#/definitions/dataid"}]
        },
        "cid": {
          "allOf": [{"$ref": "#/definitions/cid"}]
        },
        "reason": {
          "$ref": "#/definitions/OTReason"
        },
        "receivetime": {
          "type": "string",
          "format": "date-time",
          "description": "Date Time of message receive (optional)\n",
          "example": "2017-07-21T17:32:28Z"
        },
        "did": {
          "allOf": [{"$ref": "#/definitions/did"}]        
        },
        "devicetime": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-21T17:32:28Z"
        },
        "io": {
          "$ref": "#/definitions/OTIOState"
        },
        "position": {
          "$ref": "#/definitions/OTPosition"
        },
        "driver": {
          "$ref": "#/definitions/OTDriver"
        },
        "codriver": {
          "$ref": "#/definitions/OTCoDriver"
        },
        "passengers": {
          "type": "array", 
          "items": {
            "$ref": "#/definitions/OTPassenger"
          }
        },
        "temperature": {
          "$ref": "#/definitions/OTTemp"
        },
        "address": {
          "$ref": "#/definitions/OTAddress"
        },
        "can": {
          "$ref": "#/definitions/OTCanData"
        },
        "tachograph": {
          "$ref": "#/definitions/OTTacho"
        },
        "dtc": {
          "$ref": "#/definitions/OTDiag"
        },
        "driverbehavior": {
          "$ref": "#/definitions/OTDriverbehavior"
        }
      },
      "required": [
        "position",
        "devicetime",
        "did"
      ]
    },
    "OTReason": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "description": "Reason number for the message"
        },
        "name": {
          "type": "string",
          "maxLength": 30,
          "description": "Reason for the message"
        }
      }
    },
    "OTIOState": {
      "type": "object",
      "properties": {
        "ignition": {
          "type": "boolean",
          "description": "State of ignition"
        },
        "battery": {
          "type": "boolean",
          "description": "State of external battery input"
        },
        "input": {
          "example": [
            1,
            2,
            "..."
          ],
          "type": "array",
          "items": {
            "type": "integer"
          },
          "description": "Input states (input1, input2, …)"
        },
        "output": {
          "example": [
            1,
            2,
            "..."
          ],
          "type": "array",
          "items": {
            "type": "integer"
          },
          "description": "Output states (input1, input2, …)"
        },
        "analog": {
          "example": [
            1.1,
            2.2,
            "..."
          ],
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "Analog values"
        },
        "voltage": {
          "type": "number",
          "format": "float",
          "description": "Battery input voltage"
        },
        "backupbattery": {
          "type": "number",
          "format": "float",
          "description": "Backup battery input voltage"
        }
      }
    },
    "OTPosition": {
      "properties": {
        "datetime": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-21T17:32:28Z"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "WGS84 latitude"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "WGS84 longitude"
        },
        "heading": {
          "type": "integer",
          "format": "int32",
          "description": "Direction in degrees (0-360)"
        },
        "speed": {
          "type": "number",
          "format": "float",
          "description": "Speed in km/h"
        },
        "altitude": {
          "type": "integer",
          "format": "int32",
          "description": "Altitude in m"
        },
        "accuracy": {
          "type": "integer",
          "format": "int32",
          "description": "Accuracy in m"
        },
        "characteristic": {
          "type": "string",
          "enum": ["satellite", "gsm", "indirect"],
          "description": "`satellite`: GPS, Galileo, GLONASS etc.\n`indirect`: Bluetooth, Wi-Fi etc."
        }
      },
      "required": [
        "datetime",
        "latitude",
        "longitude"
      ]
    },
    "OTDriver": {
      "type": "object",
      "properties": {
        "id": {
          "allOf": [{"$ref": "#/definitions/OTIDType"}],
          "description": "Driver ID "
        },
        "name": {
          "type": "string",
          "description": "Driver name"
        }
      }
    },
    "OTCoDriver": {
      "type": "object",
      "properties": {
        "id": {
          "allOf": [{"$ref": "#/definitions/OTIDType"}],          
          "description": "Co-driver ID"
        },
        "name": {
          "type": "string",
          "maxLength": 150,
          "description": "Co-driver name"
        }
      }
    },
    "OTPassenger": {
      "type": "object",
      "properties": {
        "id": {
          "allOf": [{"$ref": "#/definitions/OTIDType"}],          
          "description": "Passenger ID"
        },
        "name": {
          "type": "string",
          "maxLength": 150,
          "description": "Passenger name"
        }
      }
    },
    "OTTemp": {
      "type": "object",
      "properties": {
        "setpoints": {
          "type": "array",
          "items": {
            "type": "object",
            "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
            "properties": {
              "value":{
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 150
                  },
                  "value": {
                    "type": "number",
                    "format": "float",
                    "description": "in °C"
                  }
                }
              }
            }
          }
        },
        "temperatures": {
          "type": "array",
          "items": {
            "type": "object",
            "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
            "properties": {
              "value":{
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 150
                  },
                  "value": {
                    "type": "number",
                    "format": "float",
                    "description": "in °C"
                  },
                  "alert": {
                    "type": "boolean",
                    "description": "alert condition set"
                  }
                }
              }
            }
          }
        },
        "contacts": {
          "type": "array",
          "items": {
            "type": "object",
            "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
            "properties": {
              "value":{
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 150
                  },
                  "value": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "OTAddress": {
      "type": "object",
      "properties": {
        "street": {
          "type": "string"
        },
        "streetnumber": {
          "type": "integer"
        },
        "province": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "zipcode": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "countrycode": {
          "type": "string",
          "minLength": 3,
          "maxLength": 3,
          "pattern": "^[A-Z]{3}$",
          "description": "ISO-3166 ALPHA-3"
        },
        "cid": {
          "allOf": [{"$ref": "#/definitions/cid"}]        
        },
        "customername": {
          "type": "string",
          "maxLength": 30
        },
        "contactperson": {
          "type": "string",
          "maxLength": 30
        },
        "contactphone": {
          "type": "string",
          "maxLength": 30
        },
        "contactfax": {
          "type": "string",
          "maxLength": 30
        },
        "contactmobile": {
          "type": "string",
          "maxLength": 30
        },
        "contactemail": {
          "type": "string",
          "maxLength": 50
        },
        "poinname": {
          "type": "string",
          "maxLength": 30
        },
        "poigroup": {
          "type": "string",
          "maxLength": 30
        }
      }
    },
    "OTCanData": {
      "type": "object",
      "properties": {
        "caninstant": {
          "type": "object",
          "properties": {
            "speed": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "number",
                  "format": "float",
                  "default": 0.0,
                  "description": "Speed in km/h"   
                }
              }
            },
            "rpm": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0.0,
                  "description": "Rotational speed of engine in rpm"   
                }
              }
            },
            "fuelconsmpt": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "number",
                  "format": "float",
                  "default": 0.0,
                  "minimum": 0.0,
                  "description": "Fuel consumption in l/h"   
                }
              }
            },
            "fuellevel": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0,
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Fuel level primary, secondary, ... tank in %"
                  }
                }
              }
            },
            "axelweight": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0,
                    "minimum": 0
                  },
                  "description": "Axel 1,2,... Weight in kg"
                }
              }
            },
            "turbopressure": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Turbo pressure in kPa"
                }
              }
            },
            "coolanttemp": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "number",
                  "format": "float",
                  "default": 0,
                  "description": "Coolant temperature in °C"
                }
              }
            },
            "acceleratorpdl": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Accelerator pedal in %"
                }
              }              
            },
            "torque": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "maximum": 250,
                  "description": "Torque in %"
                }
              }   
            },
            "battvolt": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "number",
                  "format": "float",
                  "default": 0.0,
                  "description": "Battery voltage in V"
                }
              }
            },
            "coolantlvl": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Coolant level in %"
                }
              }
            },
            "oiltemp": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "number",
                  "format": "float",
                  "default": 0,
                  "description": "Oil temperature in °C"
                }
              }
            },
            "oillvl": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Oil level in %"
                }
              }
            },
            "throttle": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "maximum": 100,
                  "description": "Throttle position in %"
                }
              }
            },
            "airinltpres": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Air inlet pressure in kPa"
                }
              }
            },
            "gear": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "description": "0=neutral / 45(-)=reverse / 43(+)=forward / 127 = parked"
                }
              }
            },
            "seatbelt": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "string",
                  "enum": ["off", "on"],
                  "default": "off"
                }
              }
            },
            "oilpressure": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Engine oil pressure in kPa"
                }
              }
            },
            "wettankpressure": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Wet tank air pressure in kPa"
                }
              }
            },
            "pto": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "string",
                  "enum": ["none", "atLeastOne"],
                  "default": "none"
                }
              }
            },
            "ignswtch": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "string",
                  "enum": ["off", "on"],
                  "default": "off"
                }
              }
            }
          }
        },
        "cantotal": {
          "type": "object",
          "properties": {
            "mileage": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Mileage in km"
                }
              }
            },
            "totalfuel": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Total fuel in liter"
                }
              }
            },
            "fuelusedatcruise": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "number",
                  "format": "float",
                  "default": 0,
                  "minimum": 0,
                  "description": "Fuel used at cruise in liter"
                }
              }              
            },
            "fuelusedatdrive": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "number",
                  "format": "float",
                  "default": 0,
                  "minimum": 0,
                  "description": "Fuel used at drive in liter"
                }
              }              
            },
            "idlelonger5": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Number of idle longer than 5 min"
                }
              }              
            },
            "idlelonger10": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Number of idle longer than 10 min"
                }
              }              
            },
            "totalidletime": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Total idle time in sec"
                }
              }              
            },
            "totaltimepto": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Total pto time in sec"
                }
              }              
            },
            "timecruise": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Cruise time in sec."
                }
              }              
            },
            "rpmthreshold": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0,
                    "minimum": 0
                  },
                  "description": "Rpm > treshold 1,2,3 sec."
                }
              }
            },
            "speedthreshold": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "default": 0,
                    "minimum": 0
                  },
                  "description": "Speed > threshold speed 1,2,3 sec."
                }
              }
            },
            "brakeapplications": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Number of brake applications"                }
              }              
            },
            "clutchapplications": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Number of clutch applications"                }
              }              
            },
            "engineon": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Time engine is on in sec"
                }
              }              
            },
            "timetorque90": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description":"Time torque > 90%  in sec"
                }
              }              
            },
            "fuelrateavg": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "number",
                  "format": "float",
                  "default": 0,
                  "minimum": 0,
                  "description": "Fuel rate average in l/h"                }
              }
            },
            "totaldistancecruisecontrol": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Total vehicle distance with cruise control"
                }
              }
            },
            "totalfuelconsumptionwithpto": {
              "type": "object",
              "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
              "properties": {
                "value":{
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "minimum": 0,
                  "description": "Total fuel consumption with pto"                }
              }              
            }
          }
        }
      }
    },
    "OTTacho": {
      "type": "object",
      "description": "`workstate`, `timerelstate`, `cardpresent`, `overspeed`, `systemevent`, `direction` and `speed` are described and specified as in SAE J 1939",
      "properties": {
        "workstate": {
          "type": "object",
          "properties": {
            "driver1": {
              "type": "string",
              "enum": ["rest", "available", "work", "drive", "error", "n/a"]
            },
            "driver2": {
              "type": "string",
              "enum": ["rest", "available", "work", "drive", "error", "n/a"]
            }
          },
          "description": "State of work of the drivers"
        },
        "timerelstate": {
          "type": "object",
            "properties": {
            "driver1": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "driver2": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          "description": "Indicates if the driver approaches or exceeds working time limits\n0=normal / 1=15 min. bef. 4 1/2h / 2=4 1/2h reached / 3=15 min bef. 9h / 4=9h reached / 5=15min bef. 16h / 6=16h reached / 14=Error / 15=n/a"
        },
        "cardpresent": {
          "type": "object",
          "properties": {
            "driver1": {
              "type": "boolean"
            },
            "driver2": {
              "type": "boolean"
            }
          },
          "description": "Indicates the presence of a driver card"
        },
        "overspeed": {
          "type": "boolean",
          "description": "Indicates whether the vehicle is exceeding the legal speed limit set in the tachograph"
        },
        "systemevent": {
          "type": "boolean",
          "description": "Indicates that a tachograph event has occurred. This may include power supply interruption, interruption of the speed sensor, incorrect data on the driver card, driving without a driver card, illegal removal of a driver card, insertion of a driver card during driving, and time adjustment"
        },
        "direction": {
          "type": "string",
          "enum": ["forward", "reverse"],
          "description": "Indicates the direction of the vehicle"
        },
        "speed": {
          "type": "number",
          "format": "float",
          "description": " Speed of the vehicle registered by the tachograph"
        },
        "cardid": {
          "type": "object",
          "properties": {
            "driver1": {
              "allOf": [{"$ref": "#/definitions/OTIDType"}],
              "description": "Card ID of driver 1"
            },
            "driver2": {
              "allOf": [{"$ref": "#/definitions/OTIDType"}],
              "description": "Card ID of driver 2"
            }
          },
          "description": "Driver card IDs"
        },
        "rpm": {
          "type": "integer",
          "format": "int32",
          "description": "Output shaft speed  rpm"
        }
      }
    },
    "OTDiag": {
      "type": "object",
      "properties": {
        "dtcstatus": {
          "type": "object",
          "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
          "properties": {
            "value": {
              "type": "string",
              "enum": ["off", "on"],
              "description": "Generic malfunction indicator light"
          
            }
          }
        },
        "dtcred": {
          "type": "object",
          "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
          "properties": {
            "value": {
              "type": "string",
              "enum": ["off", "on"],
              "description": "Red malfunction indicator light"
            }
          }
        },
        "dtcamber": {
          "type": "object",
          "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
          "properties": {
            "value": {
              "type": "string",
              "enum": ["off", "on"],
              "description": "Amber malfunction indicator light"
            }
          }
        },
        "dtcprotect": {
          "type": "object",
          "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
          "properties": {
            "value": {      
              "type": "string",
              "enum": ["off", "on"],
              "description": "Protection malfunction indicator light"
            }
          }
        },
        "handbreak": {
          "type": "object",
          "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
          "properties": {
            "value": {
              "type": "string",
              "enum": ["off", "on"],
              "description": "Handbrake malfunction indicator light"
            }
          }
        },
        "batterystatus": {
          "type": "object",
          "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
          "properties": {
            "value": {
              "type": "string",
              "enum": ["ok", "failure"]
            }
          }
        },
        "coolantstatus": {
          "type": "object",
          "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
          "properties": {
            "value": {
              "type": "string",
              "enum": ["ok", "failure"]
            }
          }
        },
        "oilpressure": {
          "type": "object",
          "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
          "properties": {
            "value": {
              "type": "string",
              "enum": ["ok", "failure"]
            }
          }
        },
        "breakpads": {
          "type": "array",
          "items": {
            "type": "object",
            "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
            "properties": {
              "value": {
                "$ref": "#/definitions/OTBreakpad"
              }
            }
          }
        },
        "oillevelstatus": {
          "type": "object",
          "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
          "properties": {
            "value": {
              "type": "string",
              "enum": ["ok", "failure"]
            }
          }
        },
        "absstatus": {
          "type": "object",
          "allOf": [{"$ref": "#/definitions/OTDataStatus"}],
          "properties": {
            "value": {
              "type": "string",
              "enum": ["fullyOperational", "notFullyOperational"]
            }
          }
        }
      }
    },
    "OTDriverbehavior": {
      "type": "object",
      "properties": {
        "harshbreak": {
          "type": "integer",
          "format": "int32",
          "description": "Total harsh brakes times"
        },
        "harshacc": {
          "type": "integer",
          "format": "int32",
          "description": "Total harsh accelerations times"
        },
        "idletime": {
          "type": "integer",
          "format": "int32",
          "description": "Total idle time sec."
        },
        "coastingtime": {
          "type": "integer",
          "format": "int32",
          "description": "Total coasting time sec."
        },
        "coastingdistance": {
          "type": "number",
          "format": "float",
          "description": "Total coasting distance km"
        },
        "accelerationtime": {
          "type": "integer",
          "format": "int32",
          "description": "Total acceleration time sec."
        },
        "accelerationdistance": {
          "type": "number",
          "format": "float",
          "description": "Total acceleration distance km"
        },
        "decelerationtime": {
          "type": "integer",
          "format": "int32",
          "description": "Total deceleration time sec."
        },
        "decelerationdistance": {
          "type": "number",
          "format": "float",
          "description": "Total deceleration distance km"
        },
        "overspeedtime": {
          "type": "integer",
          "format": "int32",
          "description": "Total overspeed time sec."
        },
        "overspeeddistance": {
          "type": "number",
          "format": "float",
          "description": "Total overspeed distance km"
        },
        "rpmtime": {
          "type": "integer",
          "format": "int32",
          "description": "Total over RPM time sec."
        },
        "rpmdistance": {
          "type": "number",
          "format": "float",
          "description": "Total over RPM distance km"
        },
        "cruisabletime": {
          "type": "integer",
          "format": "int32",
          "description": "Total cruisable time sec."
        },
        "cruisabledistance": {
          "type": "number",
          "format": "float",
          "description": "Total cruisable distance km"
        },
        "cruisetime": {
          "type": "integer",
          "format": "int32",
          "description": "Total cruise time sec."
        },
        "cruisedistance": {
          "type": "number",
          "format": "float",
          "description": "Total cruise distance in km"
        },
        "cruisetime2": {
          "type": "integer",
          "format": "int32",
          "description": "Total cruise time w/o acceleration pedal in sec."
        },
        "cruisedistance2": {
          "type": "number",
          "format": "float",
          "description": "Total cruise distance w/o acceleration pedal in km"
        }
      }
    },
    "OTBreakpad": {
      "type": "object",
      "properties": {
        "axel": {
          "type": "integer",
          "minimum": 0,
          "description": "axle number front to back beginning with 0"
        },
        "wheel": {
          "type": "string",
          "enum": ["left", "right"]
        },
        "status": {
          "type": "string",
          "enum": ["ok", "maladjusted", "delayedReturn", "delayedBreaking", "outworn", "error", "n/a"]
        }
      }
    },
    "OTTour": {
      "type": "object",
      "allOf": [{"$ref": "#/definitions/OTTourBase"}],
      "properties": {
        "status": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OTStatus"
          }
        },
        "drives": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OTDrive"
          }
        }
      }
    },
    "OTTourParam": {
      "type": "object",
      "allOf": [{"$ref": "#/definitions/OTTourBase"}],
      "properties": {
        "drives": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OTDriveBase"
          }
        }
      }
    },
    "OTTourBase": {
      "type": "object",
      "properties": {
        "id": {
          "allOf": [{"$ref": "#/definitions/OTIDType"}]        
        },
        "cid": {
          "allOf": [{"$ref": "#/definitions/cid"}]        
        },
        "refid": {
          "allOf": [{"$ref": "#/definitions/refid"}]
        },
        "name": {
          "type": "string"
        },
        "info": {
          "type": "string"
        },
        "tournumber": {
          "type": "string"
        },
        "did": {
          "allOf": [{"$ref": "#/definitions/did"}]        
        },
        "refdid": {
          "allOf": [{"$ref": "#/definitions/refdid"}]        
        }
      },
      "required": [
        "refid",
        "name",
        "refdid"
      ]
    },
    "OTDrive": {
      "allOf": [{"$ref": "#/definitions/OTDriveBase"}],
      "type": "object",
      "properties": {
        "status": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OTStatus"
          }
        },
        "eta": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-22T17:32:28Z",
          "description": "Estimated time of arrival"
        }
      }
    },
    "OTDriveBase": {
      "type": "object",
      "properties": {
        "id": {
          "allOf": [{"$ref": "#/definitions/OTIDType"}]        
        },
        "refid": {
          "allOf": [{"$ref": "#/definitions/refid"}]        
        },
        "address": {
          "$ref": "#/definitions/OTAddress"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "WGS84 latitude"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "WGS84 longitude"
        },
        "info": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "deadline": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-22T17:32:28Z"
        },
        "loading": {
          "type": "boolean",
          "description": "true=loading, false=not loading"
        },
        "drivenumber": {
          "type": "string"
        }
      },
      "required": [
        "refid",
        "latitude",
        "longitude",
        "name"
      ]
    },
    "OTMessageStatus": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": ["serverReceived", "deviceReceived", "read", "delete"]
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-22T17:32:28Z"
        }
      }
    },
    "OTStatus": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": ["active", "canceled", "deleted", "finished", "workingOn", "read", "arrived"]
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "example": "2017-07-22T17:32:28Z"
        }
      }
    },
    "OTMessage": {
      "type": "object",
      "allOf": [{"$ref": "#/definitions/OTMessageBase"}],
      "properties": {
        "direction": {
          "type": "string",
          "enum": ["serverToDevice", "deviceToServer"]
        },
        "status": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OTMessageStatus"
          }
        }
      }
    },
    "OTMessageBase": {
      "type": "object",
      "properties": {
        "id": {
          "allOf": [{"$ref": "#/definitions/OTIDType"}]        
        },
        "refid": {
          "allOf": [{"$ref": "#/definitions/refid"}]        
        },
        "did": {
          "allOf": [{"$ref": "#/definitions/did"}]        
        },
        "refdid": {
          "allOf": [{"$ref": "#/definitions/refdid"}]        
        },
        "uid": {
          "allOf": [{"$ref": "#/definitions/OTIDType"}],
          "maxLength": 150,
          "description": "Unique user id"
        },
        "username": {
          "type": "string",
          "maxLength": 150
        },
        "message": {
          "type": "string",
          "description": "context"
        }
      },
      "required": [
        "refid",
        "refdid",
        "message"
      ]
    },
    "OTSetStatus": {
      "type": "object",
      "properties": {
        "refid": {
          "allOf": [{"$ref": "#/definitions/refid"}]        
        },
        "refdid": {
          "allOf": [{"$ref": "#/definitions/refdid"}]        
        },
        "status": {
          "$ref": "#/definitions/OTMessageStatus"
        }
      },
      "required": [
        "refid",
        "refdid",
        "status"
      ]
    },
    "OTSetOrderStatus": {
      "type": "object",
      "properties": {
        "refid": {
          "allOf": [{"$ref": "#/definitions/refid"}]        
        },
        "refdid": {
          "allOf": [{"$ref": "#/definitions/refdid"}]        
        },
        "status": {
          "$ref": "#/definitions/OTStatus"
        }
      },
      "required": [
        "refid",
        "refdid",
        "status"
      ]
    },
    "OTLog": {
      "type": "object",
      "properties": {
        "loglevel": {
          "type": "integer",
          "format": "int32",
          "minimum": 0, 
          "maximum": 7,
          "description": "From 0 (most important) to 7 (least important):\n0=Emergency, 1=Alert, 2=Critical, 3=Error, 4=Warning, 5=Notice, 6=Informational, 7=Debug"
        },
        "call": {
          "type": "string",
          "description": "Which call (protocol)"
        },
        "username": {
          "type": "string",
          "description": "Which user account was it"
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "Date Time of message receive",
          "example": "2017-07-21T17:32:28Z"
        },
        "message": {
          "type": "string",
          "description": "Log message"
        }
      }
    },
    "OTMember": {
      "type": "object",
      "properties": {
        "otid": {
          "allOf": [{"$ref": "#/definitions/OTIDType"}],       
          "description": "Registered OpenTelematics ID of the member"
        },
        "name": {
          "type": "string"
        },
        "company": {
          "type": "string"
        },
        "street": {
          "type": "string"
        },
        "postalcode": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "example": "NRW"
        },
        "country": {
          "type": "string",
          "minLength": 3,
          "maxLength": 3,
          "description": "ISO 3166-1 alpha-3",
          "example": "DEU"
        },
        "phonenumber": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "memberSince": {
          "type": "string",
          "format": "date",
          "description": "Date the member joined OpenTelematics",
          "example": "2017-07-21"
        }
      }
    },
    "OTTransferContainer": {
      "type": "object",
      "properties": {
        "filename": {
          "type": "string",
          "description": "Filename",
          "example": "123456789.DDD"
        },
        "id": {
          "type": "string",
          "description": "Vehicle or driver ID",
          "example": "example: DF00000000000000"
        },
        "class": {
          "type": "string",
          "enum": ["driver", "vehicle", "all"],
          "example": "driver"
        },
        "used_company_card": {
          "type": "string",
          "description": "the company card which was used",
          "example": "DU000000000000"
        },
        "type": {
          "type": "string",
          "enum": ["ddd", "dlc", "tgd", "c1b_v1b"],
          "example": 0
        },
        "data": {
          "type": "string",
          "description": "container data bytes encoded in Base64",
          "example": "5MCMfOGVgyZPnyxamDRjA0EAwX1BBPOQA..."
        }
      }
    },
    "OTDriverCard": {
      "type": "object",
      "properties": {
        "id": {
          "allOf": [{"$ref": "#/definitions/OTIDType"}],        
          "maxLength": 50,
          "description": "Unique object ID",
          "example": "4025"
        },
        "surname": {
          "type": "string",
          "example": "Mustermann"
        },
        "first_given_name": {
          "type": "string",
          "example": "Max"
        },
        "issue_date": {
          "type": "object",
          "properties": {
            "valid_from": {
              "type": "string",
              "format": "date",
              "example": "2017-07-21"
            },
            "valid_to": {
              "type": "string",
              "format": "date",
              "example": "2017-07-21"
            }
          }
        },
        "name_of_the_issuing_authority": {
          "type": "string"
        },
        "driver_license_number": {
          "type": "string",
          "example": "A1234567890"
        },
        "card_number": {
          "type": "string",
          "example": "DF00003563691000"
        }
      }
    },
    "OTIDType": {
      "type": "string"
    },
    "OTDataStatus": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string", 
          "enum": ["ok", "error", "n/a"],
          "description": "Indicates availability of data"
        }
      }
    },
    "did": {
      "allOf": [
        {"$ref": "#/definitions/OTIDType"},
        {"description": "Device ID"}
      ]
    },
    "cid": {
      "allOf": [
        {"$ref": "#/definitions/OTIDType"},
        {"description": "Customer ID"}
      ]
    },
    "gid": {
      "allOf": [
        {"$ref": "#/definitions/OTIDType"},
        {"description": "Vehicle Group ID"}
      ]
    },
    "refdid": {
      "allOf": [
        {"$ref": "#/definitions/OTIDType"},
        {"description": "Reference Device ID"}
      ]
    },
    "refid": {
      "allOf": [
        {"$ref": "#/definitions/OTIDType"},
        {"description": "Reference ID"}
      ]
    },
    "dataid": {
      "allOf": [
        {"$ref": "#/definitions/OTIDType"},
        {"description": "Data ID"}
      ]
    }

  }
}